.draggable-image {
  position: fixed;
}

.draggable-image__resizable {
  position: fixed !important; /* Need to use important, otherwise don't get placed in the correct position */
  box-sizing: border-box;
}

.dragable-image__container {
  position: fixed;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragable-image__container:focus {
  outline: solid 1px #eeeeee;
}

.draggable-image.react-draggable-dragging,
.dragable-image__container.react-draggable-dragging {
  cursor: grabbing;
}
